@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,400&display=swap");

:root {
  --primary-color: hsl(201, 67%, 33%);
  --light-color: hsl(0, 0%, 93%);
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--light-color);
  display: inline-block;
  padding: 1em 0.7em;
}

.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: var(--light-color);
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--light-color);
  z-index: 1;
}

.nav_list {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}
.navbar a:hover {
  text-shadow: 0px 0px 5px hsl(0, 0%, 0%);
  transform: scale(1.1);
  transition: 0.4s;
}
/* Showcase */
.sec_showcase {
  background-color: var(--primary-color);
}

h1 {
  font-size: 5rem;
  color: var(--light-color);
}

.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6em 0em;
}

#main_text {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 0.5em;
  color: var(--light-color);
}
#main_text::after {
  animation: piscar 0.7s infinite;
  content: "|";
  margin-left: 3px;
}

.img_showcase img {
  max-height: 400px;
  width: auto;
  border-radius: 60px;
}
/* Projects */
#projects {
  row-gap: 3em;
  display: grid;
  padding: 4em 0em;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--light-color);
  grid-template-columns: repeat(6, 1fr);
}

#projects .box_project {
  grid-column: span 2;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px hsl(0, 0%, 0%);
}
#projects .box_project:hover {
  box-shadow: 0px 0px 25px hsl(0, 0%, 0%);
  transition: 0.3s;
}
.box_project img {
  width: 100%;
}
.box_project a {
  display: block;
  padding: 0;
}

h2 {
  font-size: 2.2rem;
}

.subtitle {
  font-size: 1.25rem;
  padding: 2vh 0vh;
}

img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.project_title {
  text-align: center;
  font-size: 2rem;
  align-self: center;
  grid-column: span 6;
}

.about {
  background-color: var(--light-color);
  border-bottom: 3px solid var(--primary-color);
}

#aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 3em 0em;
  color: var(--primary-color);
}

#aboutme p {
  font-size: 1.35rem;
  width: 70%;
}
/* Footer */
footer {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.foot {
  padding: 4em 0em;
}

h3 {
  text-align: center;
  font-size: 3.125rem;
  margin-bottom: 0.125em;
}

#subtitle_foot {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  margin: 1em 0em;
}

.link_socialmedia,
.box_project {
  cursor: pointer;
}

.link_socialmedia:hover {
  transform: translateY(10px);
  transition: 0.4s;
  text-shadow: 0px 0px 5px hsl(0, 0%, 0%);
}

.social_media {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  gap: 1.5em;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 1em;
}

.right {
  text-align: center;
  margin-top: 2em;
  padding: 2em;
  border-top: 3px solid var(--light-color);
  font-size: 1.25rem;
}

.icone {
  position: fixed;
  font-size: 2em;
  background-color: var(--light-color);
  color: var(--primary-color);
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 30px;
  bottom: 15px;
  right: 20px;
}

/* Animações */

.list_item:hover {
  background-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}
@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
[data-anime] {
  opacity: 0;
  transition: 0.3s;
}

[data-anime="down"] {
  transform: translate3d(0px, -50px, 0px);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* Media Query */
@media (max-width: 930px) {
  .social_media p {
    margin: 0;
  }

  .showcase {
    flex-direction: column;
    text-align: center;
    gap: 1em;
  }

  .img_showcase {
    width: 100%;
  }

  #projects {
    grid-auto-columns: auto;
  }
  .box_project .project_title {
    grid-column: auto;
  }
  #projects .box_project {
    grid-column: span 3;
  }
}
@media (max-width: 430px) {
  * {
    font-size: 15px;
  }

  #projects {
    grid-column: 1fr;
  }
  #projects .box_project {
    grid-column: span 6;
  }
  .social_media p,
  i {
    font-size: 1.5rem;
  }

  .img_showcase img {
    max-height: 250px;
    width: auto;
    border-radius: 50px;
  }
}
